

<div class="content-main d-flex justify-content-center align-items-center min-vh-100">
    <div class="container" style="max-width: 600px">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <div class="login_wrap widget-taber-content p-40 background-white border-radius-15 shadow-lg">
                    <div class="padding_eight_all bg-white">
                        <div class="text-center">
                            <h2 class="mb-30">Edit  Details</h2>
                        </div>
                        <form method="post"  action="/verifchanging">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" id="email" onkeyup="emailValidation()" name="email" placeholder="Your Email" >
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-lg"  name="password" placeholder=" enter  otp">
                            </div>
                            <span id="emailError"></span>
                            {{#if message}}
                            <span  id="serverError"  onkeyup="serverErrorMessage()">{{message}}</span>
                            {{/if}}
                            <span id="error" onkeyup="serverErrorMessage()" ></span>
                            <div class="login_footer form-group text-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="exampleCheckbox1" name="checkbox" value="">
                                    <a class="text-primary" onclick="requestOtp()" id="resend-btn" class="float-right">Request OTP</a>
                                </div>
                                
                            </div>
                             <p id="otp-counter" class="float-right mb-0">&nbsp;</p>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block btn-lg">submit</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
.new-user-section {
  text-align: center;
  margin-top: 30px; 
}

.new-user-section h5 {
  margin:0;
  font-size: 16px;
  color: #555;
}

.new-user-section a {
  color: blue;
  text-decoration: none;
}

.new-user-section a:hover {
  text-decoration: underline;
}

</style>


<script>
function serverErrorMessage(){
 const serverError=document.getElementById('serverError')

 if(serverError){
    setTimeout(()=>{
        serverError.textContent=''
    
    },3000)
 }


}
setTimeout(serverErrorMessage)
    
</script>

<script>
 const email=document.getElementById('email')
 const emailError=document.getElementById('emailError')
    function emailValidation() {
    const emailValue = email.value;
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

    if (emailValue.trim().length === 0) {
        emailError.innerHTML = 'Email field is required';
        emailError.style.color = 'red';
        return false;
    }
    if (!emailValue.match(emailRegex)) {
        emailError.innerHTML = 'Enter a valid email address';
        emailError.style.color = 'red';
        return false;
    }
    emailError.innerHTML = '';  // Clear the error message when it's valid
    return true;
}
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    const otpCounter=document.getElementById('otp-counter')
  const resendbtn=document.getElementById('resend-btn')
let seconds=30
    let countDownTimer
     function startCountDown(){
        resendbtn.hidden=true
        otpCounter.innerHTML='resend otp in :30 s'
        countDownTimer=setInterval(()=>{
            seconds--
            otpCounter.innerHTML="Resend OTP in: " + seconds + "s"
            if(seconds<=0){
                clearInterval(countDownTimer)
                otpCounter.hidden=true
                resendbtn.hidden=false
            }
        },1000)

     }
   

  
    var $j = jQuery.noConflict();
</script>
<script>
     
function requestOtp(){
    const error=document.getElementById('error')
    const email=document.getElementById('email').value
    console.log(email)
    if(emailValidation()){
        startCountDown()
    $j.ajax({
        url:'/otpChangePassword',
        method:'get',
        data:{
        email:email
        },
        success:(response)=>{
            if(!response.status){
                error.innerHTML=response.message
            }else{
                
            }
           
            
        }
    })
    }else{
        false
    }
}
</script>