

<div class="content-main d-flex justify-content-center align-items-center min-vh-100">
    <div class="container" style="max-width: 600px">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <div class="login_wrap widget-taber-content p-40 background-white border-radius-15 shadow-lg">
                    <div class="padding_eight_all bg-white">
                        <div class="text-center">
                            <h2 class="mb-30">Set Password</h2>
                        </div>
                        <form method="post"  action="/reset-Password"  onsubmit="return formSubmit(event)" id="form">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" id="password" onkeyup="passwordValidation()" name="password" placeholder="Your new Password" >
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-lg" id="password" onkeyup="passwordValidation()"  name="conformPassword" placeholder=" conform password">
                            </div>
                            <span id="passwordError"></span>
 
                            {{#if message}}
                            <span  id="serverError"  onkeyup="serverErrorMessage()">{{message}}</span>
                            {{/if}}
                           
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block btn-lg">submit</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
.new-user-section {
  text-align: center;
  margin-top: 30px; 
}

.new-user-section h5 {
  margin:0;
  font-size: 16px;
  color: #555;
}

.new-user-section a {
  color: blue;
  text-decoration: none;
}

.new-user-section a:hover {
  text-decoration: underline;
}

</style>


<script>
function serverErrorMessage(){
 const serverError=document.getElementById('serverError')

 if(serverError){
    setTimeout(()=>{
        serverError.textContent=''
    
    },1000)
 }


}
setTimeout(serverErrorMessage)
    
</script>

<script>
 const password=document.getElementById('password')

   
   function passwordValidation() {
    const passwordValue = password.value;
    const passwordError = document.getElementById('passwordError');  // Assuming you have an element with id 'passwordError'
    passwordError.innerHTML = '';  // Clear any existing error message

    const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]).{8,}$/;
    if (passwordValue.trim().length === 0) {
        passwordError.innerHTML = 'Password field is required';
        passwordError.style.color = 'red';
        return false;
    }

    if (!passwordValue.match(passwordRegex)) {
        passwordError.innerHTML = 'Password should contain at least 8 characters, 1 number, and 1 special character';
        passwordError.style.color = 'red';
        return false;
    }

    // Clear the error message when it's valid
    passwordError.innerHTML = '';
    return true;
}


function formSubmit(event){
    event.preventDefault()
    if(passwordValidation()){
        document.getElementById('form').submit()
        return true
    }else{
        return false
    }
}

</script>


