
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
             
            </div>
            <div class="col-nav">
                
                 
                   
                
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown"  id="dropdownAccount" aria-expanded="false">Admin</a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                    
                         
                            <a class="dropdown-item text-danger" href="/adminlogout">Logoutt</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>